/* Quizz.module.css */

.quizContainer {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    max-width: 400px;
    width: 100%;
}

.progress, .questionText {
    color: white; 
}

/* --- Odpowiedzi (Checkboxy) --- */
.checkboxContainer {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-text-light);
    padding: 10px;
    border-radius: 30px;
    border: 1px solid var(--color-primary-purple);
    transition: background-color 0.2s;
}

.checkboxLabel:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.hiddenInput {
    display: none;
}

.checkboxCustom {
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-text-light);
    border-radius: 4px;
    margin-right: 15px;
    display: inline-block;
    position: relative;
    
}

.hiddenInput:checked + .checkboxCustom::after {
    content: '✔';
    font-size: 16px;
    color: var(--color-correct);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* --- Style statusu odpowiedzi --- */

/* Dla przycisków jednokrotnego wyboru */
.correctButton {
    background-color: #2dc92d94;
}
.incorrectButton {
    background-color: #e24b4bbb;
}


.missedLabel {
    border-color: var(--color-missed);
    background-color: rgba(255, 152, 0, 0.25);
}
.correctLabel {
    border-color: var(--color-correct);
    background-color: rgba(45, 201, 45, 0.25);
}
.incorrectLabel {
    border-color: var(--color-incorrect-border);
    background-color: rgba(226, 75, 187, 0.25);
}


/* --- Wyjaśnienie i przycisk "Dalej" --- */
.explanation {
    margin-top: 15px;
    padding: 10px;
    color: var(--color-text-light);
    background: rgba(114, 108, 184, 0.05);
    border-left: 4px solid var(--color-text-light);
    font-style: italic;
    border-radius: 4px;
}

.nextButton {
    margin-top: 30px;
}