/* === ZMIENNE === */
:root {
  --color-primary-dark: #20053d;
  --color-primary-blue: #034dcc;
  --color-primary-purple: #471083;
  --color-text-light: #ccc;
  --color-text-dark: #333;
  --color-text-medium: #555;
  --color-correct: #2dc92d;
  --color-incorrect: #e24b4b;
  --color-incorrect-border: #e24bbb;
  --color-missed: #ff9800;

  --gradient-background: linear-gradient(to bottom, var(--color-primary-dark), var(--color-primary-blue));
  --gradient-border: linear-gradient(to top, var(--color-primary-purple), var(--color-primary-blue));
}


/* === STYLE GLOBALNE I RESET === */
*, *::before, *::after { 
  box-sizing: border-box; 
}

html, body { 
  overflow-x: hidden; 
}

html, body, #root {
    color: var(--color-text-dark) !important;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    font-family: Arial, sans-serif;
    background: var(--gradient-background);
    text-align: center;
    padding: 2rem;
}

/* --- Nagłówki --- */
h2 { 
  color: var(--color-text-light); 
  margin-bottom: 20px; 
}
p { 
  color: var(--color-text-light); 
}

/* --- Przyciski (Ogólny styl) --- */
button {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 400px;
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  font-size: 16px;
  background: transparent;
  color: var(--color-text-light);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.1s ease;
  appearance: none;
  -webkit-appearance: none;
}

button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 1px;
  background: var(--gradient-border);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); 
  -webkit-mask-composite: xor;
     mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

button:hover { 
  transform: scale(1.05); 
}